@import "./variables";
@import "./reset";

body {
    font-family: $webfont;
    color: #fff;
    background: $primary-color;
}

header{
    margin:0 0 2rem 0;
}

h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size:3rem;
}

p{
    font-weight: 300;
    font-size: 1.2rem;
}